@import "variables";

* {
	outline: none !important;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Signika", sans-serif;
	background-color: $background-color;
	margin: 0px;
	padding: 74px 0px 0px 0px;
	box-sizing: border-box;

	&.wait {
		cursor: wait;
	}
}
