<div am-Error>
  <div class="error-icon">
    <i class="fa fa-frown-o"></i>
  </div>
  <div class="error-message">
    <h3>Error</h3>
    <p>
      There was an error generating a new report, maybe exceeded your request limits.
    </p>
    <p>
      Please, try again later.
    </p>
  </div>
</div>
