<article>
  <div class="date">
    <i class="fa fa-clock-o"></i> {{{date_from_now date}}}
  </div>

  {{#if unfollowers}}
    <h1>Unfollowers</h1>
    <ul>
      {{#each unfollowers}}
        {{> twitter_profile }}
      {{/each}}
    </ul>
  {{/if}}

  {{#if newfollowers}}
    <h1>New followers</h1>
    <ul>
      {{#each newfollowers}}
        {{> twitter_profile }}
      {{/each}}
    </ul>
  {{/if}}

</article>
