<div am-Report>
  <div class="date">
    <i class="fa fa-clock-o"></i> {{{date_from_now date}}}
  </div>

  {{#if unfollowers}}
    <h2>Unfollowers</h2>
    <ul>
      {{#each unfollowers}}
        {{> twitter_profile }}
      {{/each}}
    </ul>
  {{/if}}

  {{#if newfollowers}}
    <h2>New followers</h2>
    <ul>
      {{#each newfollowers}}
        {{> twitter_profile }}
      {{/each}}
    </ul>
  {{/if}}

</div>
