<!DOCTYPE html>
<html>
<head>
	<title>Unfollowers</title>
	<link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="landing">

	{{{body}}}

</body>
</html>