<!DOCTYPE html>
<html>
<head>
	<title>Unfollowers</title>
	<link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

	<div am-Header>
		<div>
			<h1>Unfollowers <i class="fa fa-twitter fa-lg"></i></h1>
		</div>
	</div>

	<div am-Content>
		
		{{{body}}}

	</div>

	<div am-Footer>
		by <b>Sirikon</b>
	</div>

</body>
</html>