<h2>Login</h2>
<form method="post">
  <input type="text" name="username" placeholder="Username" value="">
  <input type="password" name="password" placeholder="Password" value="">
  <input type="submit" value="Login">
</form>
