<div am-LandingBoxCenter>
	<h1>
		Unfollowers
		<span>β</span>
	</h1>
	<p>
		Check who unfollowed you in a <b>fast and simple way</b>
	</p>
	<p>
		<b>No Ads, no unexpected twits, no problem!</b>
	</p>
	<a id="loginwithtwitter" href="/auth/twitter/login"><button>Login with Twitter</button></a>
</div>

<div am-LandingFooter>
	<a href="http://sirikon.me" target="_blank">
		<span class="sirikonme">Sirikon<b>.me</b></span>
	</a>
</div>