@import url(//fonts.googleapis.com/css?family=Kaushan+Script|Signika:400,300,600,700);
body.landing {
  padding: 0px;
  background-color: #e74c3c;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  -moz-align-content: center;
  -o-align-content: center;
  align-content: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row; }
  body.landing h1, body.landing button, body.landing span {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; }
  body.landing h1 {
    cursor: default; }

* {
  outline: none !important; }

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%; }

body {
  font-family: "Signika", sans-serif;
  background-color: #ecf0f1;
  margin: 0px;
  padding: 74px 0px 0px 0px;
  box-sizing: border-box; }
  body.wait {
    cursor: wait; }

button {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin: 15px 0px;
  background-color: #3498db;
  border: none;
  padding: 0.5em 0.7em;
  font-family: "Signika", sans-serif;
  font-size: 18px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0.15em 0px #2d7db3;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0.05s ease;
  -ms-transition: all 0.05s ease;
  -moz-transition: all 0.05s ease;
  -o-transition: all 0.05s ease;
  transition: all 0.05s ease; }
  button:active {
    -webkit-transform: translate3d(0px, 0.15em, 0px);
    -ms-transform: translate3d(0px, 0.15em, 0px);
    -moz-transform: translate3d(0px, 0.15em, 0px);
    -o-transform: translate3d(0px, 0.15em, 0px);
    transform: translate3d(0px, 0.15em, 0px);
    box-shadow: 0px 0em 0px #2d7db3;
    vertical-align: top; }
  button:disabled {
    -webkit-transform: translate3d(0px, 0.15em, 0px);
    -ms-transform: translate3d(0px, 0.15em, 0px);
    -moz-transform: translate3d(0px, 0.15em, 0px);
    -o-transform: translate3d(0px, 0.15em, 0px);
    transform: translate3d(0px, 0.15em, 0px);
    opacity: 0.7;
    box-shadow: 0px 0em 0px #2d7db3;
    cursor: inherit; }
  button.floatright {
    float: right; }

[am-Content] {
  width: 960px;
  margin: auto;
  display: block; }

[am-Error] {
  background-color: #E73C3C;
  margin-top: 15px;
  display: table;
  width: 100%;
  color: white; }
  [am-Error] > div {
    display: table-cell;
    vertical-align: middle; }
  [am-Error] > div.error-icon {
    width: 60px;
    text-align: center;
    font-size: 2.2em; }
  [am-Error] > div.error-message {
    padding: 10px 0; }
  [am-Error] h1, [am-Error] h2, [am-Error] h3, [am-Error] h4, [am-Error] h5, [am-Error] h6, [am-Error] p {
    margin: 0; }

[am-Footer] {
  width: 960px;
  margin: auto;
  display: block;
  text-align: right;
  padding: 20px 0px;
  color: grey; }

[am-Header] {
  background-color: #e74c3c;
  margin: auto;
  display: block;
  border: 0px solid #c32f20;
  border-width: 0px 0px 0.3em 0px;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; }
  [am-Header] * {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; }
  [am-Header] > div {
    display: block;
    margin: auto;
    width: 960px;
    color: white;
    display: flex;
    display: -webkit-flex;
    height: 70px;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center; }
    [am-Header] > div h1 {
      cursor: default;
      margin: 0px;
      flex-basis: 190px;
      position: relative; }
      [am-Header] > div h1 span {
        position: absolute;
        top: 0px;
        right: 6px;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7); }
    [am-Header] > div #genreport {
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      -moz-flex-grow: 1;
      -o-flex-grow: 1;
      flex-grow: 1;
      text-align: right;
      padding: 0px 22px; }

[am-LandingBoxCenter] {
  text-align: center; }
  [am-LandingBoxCenter] h1 {
    font-size: 65px;
    margin: 0px 0px 20px 0px;
    color: white;
    position: relative; }
    [am-LandingBoxCenter] h1 span {
      position: absolute;
      top: 0px;
      right: -14px;
      font-size: 34px;
      color: rgba(255, 255, 255, 0.7); }
  [am-LandingBoxCenter] p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.05em; }
  [am-LandingBoxCenter] button {
    font-size: 1.5em; }

[am-LandingFooter] {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 40px 0px 0px 0px; }
  [am-LandingFooter] a {
    text-decoration: none; }
  [am-LandingFooter] div {
    text-align: center;
    padding: 5px; }
  [am-LandingFooter] div.align-right {
    text-align: right;
    padding: 0px 18px 16px 0px; }
  [am-LandingFooter] span {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    text-align: right; }
  [am-LandingFooter] span.sirikonme {
    text-align: center;
    font-family: "Kaushan Script";
    font-size: 30px;
    text-decoration: none; }
    [am-LandingFooter] span.sirikonme b {
      color: rgba(255, 255, 255, 0.6); }

[am-ProfileWidget] {
  height: 100%;
  -webkit-perspective-origin: center;
  -ms-perspective-origin: center;
  -moz-perspective-origin: center;
  -o-perspective-origin: center;
  perspective-origin: center;
  -webkit-perspective: 500px;
  -ms-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  position: relative; }
  [am-ProfileWidget] > div.container {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    background-color: #db4838;
    padding: 0px 11px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 50;
    position: relative; }
    [am-ProfileWidget] > div.container img {
      height: 48px;
      width: 48px;
      margin-right: 5px; }
    [am-ProfileWidget] > div.container span.username {
      font-size: 20px; }
    [am-ProfileWidget] > div.container > .fa {
      position: absolute;
      bottom: 5px;
      left: 50%;
      margin-left: -5px;
      font-size: 10px;
      color: #c32f20; }
  [am-ProfileWidget] > div.dropmenu {
    background-color: #c32f20;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0px, 0%, 0px);
    -ms-transform: translate3d(0px, 0%, 0px);
    -moz-transform: translate3d(0px, 0%, 0px);
    -o-transform: translate3d(0px, 0%, 0px);
    transform: translate3d(0px, 0%, 0px);
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 0px #911a0e;
    z-index: 45; }
    [am-ProfileWidget] > div.dropmenu ul {
      list-style: none;
      margin: 0px;
      padding: 0px; }
      [am-ProfileWidget] > div.dropmenu ul > a {
        text-decoration: none;
        color: white; }
      [am-ProfileWidget] > div.dropmenu ul li {
        color: white;
        text-decoration: none;
        padding: 7px 10px; }
        [am-ProfileWidget] > div.dropmenu ul li i.fa {
          margin-right: 7px; }
        [am-ProfileWidget] > div.dropmenu ul li:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer; }
    [am-ProfileWidget] > div.dropmenu div.filltop {
      background-color: inherit;
      position: absolute;
      top: -10px;
      left: 0px;
      width: 100%;
      height: 10px; }
  [am-ProfileWidget].open > div.container {
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -moz-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(25deg);
    -ms-transform: rotateX(25deg);
    -moz-transform: rotateX(25deg);
    -o-transform: rotateX(25deg);
    transform: rotateX(25deg); }
  [am-ProfileWidget].open > div.dropmenu {
    box-shadow: 0px 4px 0px #911a0e;
    -webkit-transform: translate3d(0px, 100%, 0px);
    -ms-transform: translate3d(0px, 100%, 0px);
    -moz-transform: translate3d(0px, 100%, 0px);
    -o-transform: translate3d(0px, 100%, 0px);
    transform: translate3d(0px, 100%, 0px); }

[am-Report] {
  background-color: white;
  padding: 1px 15px;
  margin-top: 15px;
  clear: both; }
  [am-Report] h1, [am-Report] h2, [am-Report] h3, [am-Report] h4, [am-Report] h5, [am-Report] h6 {
    margin: 14px 0 15px 0;
    line-height: 1em; }
  [am-Report] ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 10px -5px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap; }
    [am-Report] ul li {
      display: inline-block;
      min-width: 250px;
      -webkit-flex-basis: 250px;
      -ms-flex-basis: 250px;
      -moz-flex-basis: 250px;
      -o-flex-basis: 250px;
      flex-basis: 250px;
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      -moz-flex-grow: 1;
      -o-flex-grow: 1;
      flex-grow: 1;
      margin: 0px 0px 5px 5px;
      background-color: rgba(0, 0, 0, 0.01);
      max-width: 307px; }
      [am-Report] ul li a {
        text-decoration: none;
        color: inherit; }
      [am-Report] ul li img {
        float: left;
        width: 48px;
        height: 48px; }
      [am-Report] ul li span.name {
        text-decoration: none;
        color: inherit;
        display: block;
        line-height: 28px;
        font-size: 20px;
        margin-left: 55px; }
      [am-Report] ul li span.screen_name {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
        display: block;
        line-height: 20px;
        font-size: 13px;
        margin-left: 55px; }
  [am-Report] div.date {
    display: inline-block;
    float: right;
    background-color: #fcfcfc;
    margin: -1px 0px 0px 0px;
    padding: 0.5em 0.7em; }
    [am-Report] div.date i.fa {
      display: inline; }
  [am-Report].profile img {
    vertical-align: top;
    width: 72px;
    height: 72px;
    margin: -1px 15px -1px -15px; }
  [am-Report].profile h1 {
    display: inline-block;
    margin: 0px;
    line-height: 70px; }
  [am-Report].profile form {
    float: right; }

/*# sourceMappingURL=main.css.map */
