@import "mixins";
@import "fonts";

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Signika", sans-serif;
	background-color: rgb(236, 240, 241);
	margin: 0px;
	padding: 74px 0px 0px 0px;

	&.wait {
		cursor: wait;
	}

	&.landing {
		padding: 0px;
		background-color: rgb(231, 76, 60);
		display: flex;
		display: -webkit-flex;
		@include vp(flex-wrap, wrap);
		@include vp(justify-content, center);
		@include vp(align-items, center);
		@include vp(align-content, center);
		@include vp(flex-direction, row);

		h1, button, span {
			@include vp(user-select, none);
		}

		h1 {
			cursor: default;
		}
	}
}

* {
	outline: none !important;
}

[am-Header] {
	background-color: rgb(231, 76, 60);
	margin: auto;
	display: block;
	border: 0px solid rgb(195, 47, 32);
	border-width: 0px 0px 0.3em 0px;
	height: 70px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

	* {
		@include vp(user-select, none);
	}

	> div {
		display: block;
		margin: auto;
		width: 960px;
		color: white;
		display: flex;
		display: -webkit-flex;
		height: 70px;
		@include vp(align-items, center);

		h1 {
			cursor: default;
			margin: 0px;
			flex-basis: 190px;
			position: relative;

			span {
				position: absolute;
				top: 0px;
				right: 6px;
				font-size: 16px;
				color: rgba(255, 255, 255, 0.7);
			}
		}

		#genreport {
			@include vp(flex-grow, 1);
			text-align: right;
			padding: 0px 22px;
		}

		[am-ProfileWidget] {
			height: 100%;
			@include vp(perspective-origin, center);
			@include vp(perspective, 500px);
			position: relative;

			> div.container {
				height: 100%;
				display: flex;
				display: -webkit-flex;
				@include vp(align-items, center);
				background-color: rgba(219, 72, 56, 1);
				padding: 0px 11px;
				cursor: pointer;
				@include vp(transition, all 0.2s ease);
				z-index: 50;
				position: relative;

				img {
					height: 48px;
					width: 48px;
					margin-right: 5px;
				}
				span.username {
					font-size: 20px;
				}

				> .fa {
					position: absolute;
					bottom: 5px;
					left: 50%;
					margin-left: -5px;
					font-size: 10px;
					color: rgb(195, 47, 32);
				}
			}

			> div.dropmenu {
				background-color: rgb(195, 47, 32);
				color: white;
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				@include vp(box-sizing, border-box);
				@include vp(transform, translate3d(0px, 0%, 0px));
				@include vp(transition, all 0.2s ease);
				box-shadow: 0px 0px 0px rgb(145, 26, 14);
				z-index: 45;

				ul {
					list-style: none;
					margin: 0px;
					padding: 0px;

					> a {
						text-decoration: none;
						color: white;
					}

					li {
						color: white;
						text-decoration: none;
						padding: 7px 10px;

						i.fa {
							margin-right: 7px;
						}

						&:hover {
							background-color: rgba(0,0,0,0.1);
							cursor: pointer;
						}
					}
				}

				div.filltop {
					background-color: inherit;
					position: absolute;
					top: -10px;
					left: 0px;
					width: 100%;
					height: 10px;
				}
			}

			&.open {
				> div.container {
					@include vp(transform-origin, top);
					@include vp(transform, rotateX(25deg));
				}

				> div.dropmenu {
					box-shadow: 0px 4px 0px rgb(145, 26, 14);
					@include vp(transform, translate3d(0px, 100%, 0px));
				}
			}
		}
	}
}

[am-Content] {
	width: 960px;
	margin: auto;
	display: block;
}

article {
	background-color: white;
	padding: 1px 15px;
	margin-top: 15px;

	h1 {
		margin: 15px 0px;
	}

	ul {
		list-style: none;
		padding: 0px;
		margin: 15px 0px 15px -5px;
		display: flex;
		display: -webkit-flex;
		@include vp(flex-wrap, wrap);

		li {
			display: inline-block;
			min-width: 250px;
			@include vp(flex-basis, 250px);
			@include vp(flex-grow, 1);
			margin: 0px 0px 5px 5px;
			background-color: rgba(0,0,0,0.01);
			max-width: 307px;

			a {
				text-decoration: none;
				color: inherit;
			}

			img {
				float: left;
				width: 48px;
				height: 48px;
			}

			span.name {
				text-decoration: none;
				color: inherit;
				display: block;
				line-height: 28px;
				font-size: 20px;
				margin-left: 55px;
			}

			span.screen_name {
				text-decoration: none;
				color: rgba(0,0,0,0.5);
				display: block;
				line-height: 20px;
				font-size: 13px;
				margin-left: 55px;
			}
		}
	}

	div.date {
		display: inline-block;
		float: right;
		background-color: rgba(252, 252, 252, 1);
		margin: -1px 0px 0px 0px;
		padding: 0.5em 0.7em;

		i.fa {
			display: inline;
		}
	}

	&.profile {
		img {
			vertical-align: top;
			width: 72px;
			height: 72px;
			margin: -1px 15px -1px -15px;
		}

		h1 {
			display: inline-block;
			margin: 0px;
			line-height: 70px;
		}

		form {
			float: right;
		}
	}
}

button {
	@include vp(appearance, none);
	margin: 15px 0px;
	background-color: #3498db;
	border: none;
	padding: 0.5em 0.7em;
	font-family: "Signika", sans-serif;
	font-size: 18px;
	color: white;
	cursor: pointer;
	box-shadow: 0px 0.15em 0px rgb(45, 125, 179);
	@include vp(transform, translate3d(0px, 0px, 0px));
	@include vp(transition, all 0.05s ease);

	&:active {
		@include vp(transform, translate3d(0px, 0.15em, 0px));
		box-shadow: 0px 0em 0px rgb(45, 125, 179);
		vertical-align: top;
	}

	&:disabled {
		@include vp(transform, translate3d(0px, 0.15em, 0px));
		opacity: 0.7;
		box-shadow: 0px 0em 0px rgb(45, 125, 179);
		cursor: inherit;
	}

	&.floatright {
		float: right;
	}
}

[am-Footer] {
	width: 960px;
	margin: auto;
	display: block;
	text-align: right;
	padding: 20px 0px;
	color: grey;
}

[am-LandingBoxCenter] {
	text-align: center;
	h1 {
		font-size: 65px;
		margin: 0px 0px 20px 0px;
		color: white;
		position: relative;

		span {
			position: absolute;
			top: 0px;
			right: -14px;
			font-size: 34px;
			color: rgba(255, 255, 255, 0.7);
		}
	}
	p {
		color: rgba(255,255,255,0.8);
		font-size: 1.05em;
	}
	button {
		font-size: 1.5em;
	}
}

[am-LandingFooter] {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 40px 0px 0px 0px;

	a {
		text-decoration: none;
	}

	div {
		text-align: center;
		padding: 5px;
	}

	div.align-right {
		text-align: right;
		padding: 0px 18px 16px 0px;
	}

	span {
		display: inline-block;
		color: rgba(255,255,255,0.8);
		text-align: right;
	}

	span.sirikonme {
		text-align: center;
		font-family: "Kaushan Script";
		font-size: 30px;
		text-decoration: none;

		b {
			color: rgba(255,255,255,0.6);
		}
	}
}
