@import "mixins";
@import "fonts";

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Signika", sans-serif;
	background-color: rgb(236, 240, 241);
	margin: 0px;
	padding: 0px;

	&.wait {
		cursor: wait;
	}

	&.landing {
		background-color: rgb(231, 76, 60);
		display: flex;
		display: -webkit-flex;
		@include vp(flex-wrap, wrap);
		@include vp(justify-content, center);
		@include vp(align-items, center);
		@include vp(align-content, center);
		@include vp(flex-direction, row);
	}
}

* {
	outline: none !important;
}

[am-Header] {
	background-color: rgb(231, 76, 60);
	margin: auto;
	display: block;
	border: 0px solid rgb(195, 47, 32);
	border-width: 0px 0px 0.3em 0px;

	div {
		display: block;
		margin: auto;
		width: 960px;
		padding: 1px 0px;
		color: white;
	}
}

[am-Content] {
	width: 960px;
	margin: auto;
	display: block;
}

article {
	background-color: white;
	padding: 1px 15px;
	margin-top: 15px;

	h1 {
		margin: 15px 0px;
	}

	ul {
		list-style: none;
		padding: 0px;
		margin: 15px 0px 15px -5px;
		display: flex;
		display: -webkit-flex;
		@include vp(flex-wrap, wrap);

		li {
			display: inline-block;
			min-width: 250px;
			@include vp(flex-basis, 250px);
			@include vp(flex-grow, 1);
			margin: 0px 0px 5px 5px;
			background-color: rgba(0,0,0,0.01);
			max-width: 307px;

			a {
				text-decoration: none;
				color: inherit;
			}

			img {
				float: left;
				width: 48px;
				height: 48px;
			}

			span.name {
				text-decoration: none;
				color: inherit;
				display: block;
				line-height: 28px;
				font-size: 20px;
				margin-left: 55px;
			}

			span.screen_name {
				text-decoration: none;
				color: rgba(0,0,0,0.5);
				display: block;
				line-height: 20px;
				font-size: 13px;
				margin-left: 55px;
			}
		}
	}

	div.date {
		display: inline-block;
		float: right;
		background-color: rgba(252, 252, 252, 1);
		margin: -1px 0px 0px 0px;
		padding: 0.5em 0.7em;
	}

	&.profile {
		img {
			vertical-align: top;
			width: 72px;
			height: 72px;
			margin: -1px 15px -1px -15px;
		}

		h1 {
			display: inline-block;
			margin: 0px;
			line-height: 70px;
		}

		form {
			float: right;
		}
	}
}

button {
	@include vp(appearance, none);
	margin: 15px 0px;
	background-color: #3498db;
	border: none;
	padding: 0.5em 0.7em;
	font-family: "Signika", sans-serif;
	font-size: 18px;
	color: white;
	cursor: pointer;
	box-shadow: 0px 0.15em 0px rgb(45, 125, 179);
	@include vp(transform, translate3d(0px, 0px, 0px));
	@include vp(transition, all 0.05s ease);

	&:active {
		@include vp(transform, translate3d(0px, 0.15em, 0px));
		box-shadow: 0px 0em 0px rgb(45, 125, 179);
		vertical-align: top;
	}

	&:disabled {
		opacity: 0.7;
		box-shadow: 0px 0em 0px rgb(45, 125, 179);
		cursor: inherit;
	}

	&.floatright {
		float: right;
	}
}

[am-Footer] {
	width: 960px;
	margin: auto;
	display: block;
	text-align: right;
	padding: 20px 0px;
	color: grey;
}

[am-LandingBoxCenter] {
	text-align: center;
	h1 {
		font-size: 65px;
		margin: 0px 0px 20px 0px;
		color: white;
	}
	p {
		color: rgba(255,255,255,0.8);
		font-size: 1.05em;
	}
	button {
		font-size: 1.5em;
	}
}

[am-LandingFooter] {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	padding: 40px 0px;

	a {
		text-decoration: none;
	}

	span.sirikonme {
		font-family: "Kaushan Script";
		font-size: 30px;
		color: rgba(255,255,255,0.8);
		text-decoration: none;

		b {
			color: rgba(255,255,255,0.6);
		}
	}
}